@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #312213;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

li {
  list-style: none;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Raleway", sans-serif;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.nav li a {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  color: #000;
}
.site_footer h6 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 15px;
}
.site_footer li {
  margin-bottom: 2px;

}
.site_form {
  width: 300px;
  margin-top: 3rem;
}
.site_form li {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
}
.site_form input {
  background: transparent;
  padding: 8px 0;
  border: 0;
  border-bottom: 1px solid #919191;
  outline: none;
}